<button type="button" class="btn btn-outline-warning float-right position-right"
    (click)="isChoosingForm=true;formChoosen=''" *ngIf="!isChoosingForm">Elegir Perfil</button>
<div class="container" style="height: 100vh;" *ngIf="isChoosingForm">
    <div class="d-block text-center boton">
        <button class="btn button-image-patient rounded" (click)="onChooseForm('patient')"> </button>
    </div>
    <div class="d-block text-center">
        <button class="btn button-image-professional rounded" (click)="onChooseForm('professional')">
        </button>
    </div>
    <div class="d-block text-center" *ngIf="user && user.role == 'administrador'">
        
        <button class="btn button-image-administrator rounded" (click)="onChooseForm('administrator')">
        </button>
    </div>
</div>
<div class="container" [ngSwitch]="formChoosen">
    <app-form-paciente *ngSwitchCase="'patient'"></app-form-paciente>
    <app-form-profesional *ngSwitchCase="'professional'"></app-form-profesional>
    <app-form-administrador *ngSwitchCase="'administrator'"></app-form-administrador>
</div>