<nav class="navbar">
  <h4>Profesionales</h4>
</nav>
<table class="table table-striped table-responsive-sm table-hover">
  <caption>Tabla Profesionales</caption>
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">DNI</th>
      <th scope="col">Foto</th>
      <th scope="col" *ngIf="isAdministrator">Estado</th>
    </tr>
  </thead>
  <tbody *ngFor="let professional of professionals; index as i;">
    <tr style="cursor:pointer" (click)="onChoose(professional)">
      <td>{{professional.nombre}}</td>
      <td>{{professional.apellido}}</td>
      <td>{{professional.edad}}</td>
      <td>{{professional.dni}}</td>
      <td style="width: 20%;">
        <img src="{{professional.Foto1}}" alt="" style="height: 100px; width: 100px;">
      </td>
      <td *ngIf="isAdministrator" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="habilitar/deshabilitar"
      appResaltarHabilitado [isApproved]="professional.approved" (click)="approveProfessional(professional)">
        {{professional.approved | approved}}
      </td>
    </tr>
  </tbody>
</table>
<div style="position:absolute; top: 50%; left: 50%;">
  <div *ngIf="spinner" class="spinner-grow text-warning text-center " role="status" style="width: 3rem; height: 3rem;">
    <span class="sr-only">Guardando...</span>
  </div>
</div>